<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" th:href="@{/admin.css}"/>
</head>

<body>
    <form class="admin-a" action="#" th:action="@{/admin}" th:object="${message}" method="post" >
        <h1 class="title">Admin Page</h1>
        <div class="er-ror" th:text="${message1}">
            Invalid username or password
        </div>
        <input class="input" type="text" th:field="*{language}" placeholder="Language">
        <input class="input" type="text" th:field="*{word}" placeholder="Message">
        <button class="input submit" type="submit">Add Message</button>
    </form>

    <form th:action="@{/logout}" method="post">
        <input class="input sign-out" type="submit" value="Sign Out"/>
    </form>

</body>

</html>